<clr-alert [clrAlertType]="'danger'" *ngIf="actionFailed" (clrAlertClosedChange)="actionFailed = false">
    <clr-alert-item>
        <span class="alert-text">
            A problem occured while trying to {{failedAction}}.
        </span>
    </clr-alert-item>
</clr-alert>
<ng-container *ngIf="charity">
    <div class="clr-row">
        <div class="clr-col">
            <h1>{{charity.title}}</h1>
            <p>Created by: {{charity.ownerUsername}} ({{charity.ownerName}})</p>
        </div>
        <div class="clr-col-2" *ngIf="userIsOwner()">
            <button class="btn btn-primary" (click)="onDeleteClicked()">Delete</button>
        </div>
    </div>
    <div class="clr-row">
        <div class="card-img">
            <img [attr.src]="charity.thumbnail" alt="Charity thumbnail" class="card-media-image">
        </div>
        <div>
            <div *ngIf="charity.amountRequired > 0">
                {{charity.amountCollected | currency }}/{{charity.amountRequired | currency }}
                funds collected
            </div>
            <div *ngIf="charity.volunteersRequired > 0">
                {{charity.volunteersApplied}}/{{charity.volunteersRequired}} volunteers applied
            </div>
            <div *ngIf="userIsAuthenticated()">
                <button class="btn btn-primary" 
                    *ngIf = "requiresDonations()"
                    [disabled]="hasReachedDonationsGoal()"
                    (click)="donateClicked()">
                    Donate
                </button>
                <button class="btn btn-outline" 
                    *ngIf = "requiresVolunteers()"
                    [disabled]="isVolunteeringDisabled()"
                    (click)="volunteerClicked()">
                    Volunteer
                </button>
            </div>
        </div>
    </div>
    <div class="clr-row">
        <div class="clr-col-10">
            <p>
                {{charity.description}}
            </p>
        </div>
    </div>
</ng-container>

<clr-modal [(clrModalOpen)]="shouldDeleteDialogOpen" [clrModalStaticBackdrop]="false">
    <h3 class="modal-title">Are you sure you want to delete this charity?</h3>
    <div class="modal-body">
        <p>All donations and participations will be reverted.</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="shouldDeleteDialogOpen = false;">
            Cancel
        </button>
        <button type="button" class="btn btn-primary" (click)="deleteCharity()">
            Yes, delete charity.
        </button>
    </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="shouldVoluteerDialogOpen" [clrModalStaticBackdrop]="false">
    <h3 class="modal-title">Please confirm that you would like to volunteer.</h3>
    <div class="modal-body">
        <p>You cannot unvoluneer later.</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="shouldVoluteerDialogOpen = false;">
            Cancel
        </button>
        <button type="button" class="btn btn-primary" (click)="volunteer()">
            Yes, I volunteer.
        </button>
    </div>
</clr-modal>

<app-donate [charity]="charity" *ngIf="shouldDonateDialogOpen"
    (donationProcessed)="handleDonationResult($event)">
</app-donate>