<h1>Login</h1>

<form clrForm [formGroup]="form">
    <clr-input-container>
        <label>Username</label>
        <input clrInput type="text" placeholder="Username..." formControlName="username" name="username" />
        <clr-control-error>Enter username</clr-control-error>
    </clr-input-container>
    <clr-password-container>
        <label>Password</label>
        <input clrPassword placeholder="Password..." formControlName="password" name="password" />
        <clr-control-error>Enter password</clr-control-error>
    </clr-password-container>
    <button class="btn btn-primary" type="submit" (click)="login()" [disabled]="!form.valid">
        Login
    </button>
    <clr-alert [clrAlertType]="'danger'" *ngIf="failedLogin" [clrAlertClosable]="false">
        <clr-alert-item>
            <span class="alert-text">
                Login failed!
            </span>
        </clr-alert-item>
    </clr-alert>
    <clr-alert [clrAlertType]="'danger'" *ngIf="invalidCredentials" [clrAlertClosable]="false">
        <clr-alert-item>
            <span class="alert-text">
                Credentials are invalid.
            </span>
        </clr-alert-item>
    </clr-alert>
</form>