<h1>My profile</h1>

<clr-tabs>
    <clr-tab>
        <button clrTabLink>Timeline</button>
        <clr-tab-content *clrIfActive="true">
            <table class="table">
                <thead>
                    <tr>
                        <th class="left">Time of occurence</th>
                        <th class="left">Event</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let event of events"
                        routerLink="/charities/{{event.charityId ? event.charityId : ''}}">
                        <td class="left">{{event.timestamp | date: 'medium'}}</td>
                        <td class="left">{{event.description}}</td>
                    </tr>
                </tbody>
            </table>
        </clr-tab-content>
    </clr-tab>
    <clr-tab>
        <button clrTabLink>Profile overview</button>
        <clr-tab-content *clrIfActive>
            <clr-accordion [clrAccordionMultiPanel]="true" *ngIf="userInformation">
                <clr-accordion-panel [clrAccordionPanelOpen]="true">
                    <clr-accordion-title>My information</clr-accordion-title>
                    <clr-accordion-content>
                        <div>
                            Username: {{userInformation.username}}
                        </div>
                        <div>
                            Name: {{userInformation.name}}
                        </div>
                        <div *ngIf="userInformation.gender">
                            Gender: {{userInformation.gender }}
                        </div>
                        <div *ngIf="userInformation.location">
                            Location: {{userInformation.location}}
                        </div>
                    </clr-accordion-content>
                </clr-accordion-panel>
            
                <clr-accordion-panel>
                    <clr-accordion-title>My charities</clr-accordion-title>
                    <clr-accordion-content *clrIfExpanded>
                        <ol class="list">
                            <li *ngFor="let charity of userInformation.ownedCharities">
                                <a routerLink="/charities/{{charity.id}}">
                                    {{charity.title}}
                                </a>
                            </li>
                        </ol>      
                    </clr-accordion-content>
                </clr-accordion-panel>
            
                <clr-accordion-panel>
                    <clr-accordion-title>My volunteerings</clr-accordion-title>
                    <clr-accordion-content *clrIfExpanded>
                        <ol class="list">
                            <li *ngFor="let volunteering of userInformation.volunteerings">
                                <a routerLink="/charities/{{volunteering.charityId}}">
                                    {{volunteering.charityTitle}}
                                </a>
                            </li>
                        </ol> 
                    </clr-accordion-content>
                </clr-accordion-panel>
            
                <clr-accordion-panel>
                    <clr-accordion-title>My donations</clr-accordion-title>
                    <clr-accordion-content *clrIfExpanded>
                        <ol class="list">
                            <li *ngFor="let donation of userInformation.donations">
                                Donated {{donation.amount | currency}} to charity: 
                                <a routerLink="/charities/{{donation.charityId}}">
                                    {{donation.charityTitle}}
                                </a>
                            </li>
                        </ol> 
                    </clr-accordion-content>
                </clr-accordion-panel>
            </clr-accordion>
        </clr-tab-content>
    </clr-tab>
</clr-tabs>


