<clr-modal [clrModalOpen]="shouldOpen" [clrModalStaticBackdrop]="false" 
    (click)="stopPropagation($event)"
    (clrModalOpenChange)="closeModal()">
    <h3 class="modal-title">Enter the amount you would like to donate.</h3>
    <div class="modal-body">
        <div clr-form [formGroup]="form" *ngIf="form">
            <clr-input-container>
                <label>Donate amount</label>
                <input clrInput currencyMask #donationInput placeholder="Enter amount..."
                    formControlName="donationAmount"/>
                <clr-control-error *clrIfError="'max'; error as err">
                    Must be less than the remaining amount of {{ err.max }}
                </clr-control-error>
                <clr-control-error *clrIfError="'min'; error as err">
                    Must be at least {{ err.max }}
                </clr-control-error>
                <clr-control-error *clrIfError="'required'">
                    Specify amount
                </clr-control-error>
            </clr-input-container>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="closeModal()">
            Cancel
        </button>
        <button class="btn btn-primary" type="submit" [disabled]="!form || !form.valid" (click)="donate()">
            Donate
        </button>
    </div>
</clr-modal>