<clr-header>
    <div class="branding">
        <a [routerLink]="['/']" class="nav-link">
            <clr-icon shape="users" class="logo"></clr-icon>
            <span class="title">Network of Giving</span>
        </a>
    </div>
    <div class="header-nav navbar-right-container" [clr-nav-level]="1">
        <div *ngIf="currentUser">
            <clr-icon shape="user" class="user"></clr-icon>
            <span class="user-greeting">
                Hello, 
                <a routerLink="/me">
                    {{currentUser.username}}
                </a>  
            </span>
            <button class="btn btn-outline" (click)="onLogoutClicked()">Logout</button>
        </div>
        <div *ngIf="!currentUser">
            <button class="btn btn-primary" [routerLink]="['/login']">Login</button>
            <button class="btn btn-outline" [routerLink]="['/register']">Register</button>
        </div>
    </div>
</clr-header>

<clr-modal [(clrModalOpen)]="logoutClicked" [clrModalStaticBackdrop]="false">
    <h3 class="modal-title">Are you sure you want to logout?</h3>
    <div class="modal-body">
        <p>You will lose access to most of the functionality.</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="logoutClicked = false;">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="logout()">Yes, logout</button>
    </div>
</clr-modal>